*{
    padding: 5px;
    margin: 0;
}
.container{
    background: tomato;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 1;
}
nav img{
    height: 40px;
}
nav ul{
    display: flex;
    list-style: none;
    column-gap: 15px;
}
nav ul li{
    font-size: 20px;
}
@media(max-width: 500px){
    nav ul{
        display: block;
        color: white;
        margin: auto;
    }
}